<h2>Registro de Usuario</h2>
<form [formGroup]="registerForm">
    <div class="form-container" style="max-height: 400px; overflow-y: auto">
        <mat-form-field>
            <input matInput placeholder="Login" formControlName="username" required>
            <mat-error *ngIf="registerForm.controls.username.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
            <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword"
                required pattern="{{ registerForm.controls.password.value }}">
            <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('required')">
                Este campo es requerido</mat-error>
            <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('pattern')">
                Las contraseñas no coinciden</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="firstName" required>
            <mat-error *ngIf="registerForm.controls.firstName.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apellido" formControlName="lastName" required>
            <mat-error *ngIf="registerForm.controls.lastName.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                Este campo es requerido</mat-error>
            <mat-error *ngIf="registerForm.controls.email.hasError('email')">
                Ingrese un email válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" min="0" placeholder="Teléfono" formControlName="phone" required>
            <mat-error *ngIf="registerForm.controls.phone.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
    </div>
    <div style="float: right;">
        <button type="submit" (click)="onSubmit()" mat-flat-button color="primary" [disabled]="!registerForm.valid">
            Registrarse
        </button>
        <button mat-flat-button (click)="onCancel()">Cancelar</button>
    </div>
</form>