<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="5">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{guide.name}}</mat-card-title>
                <mat-card-subtitle>{{guide.phrase}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{guide.photo}}" height="300">
            <mat-card-content>
                <p><strong>Teléfono: </strong>{{guide.phone}}</p>
                <p><strong>Ciudad: </strong>{{guide.city.name}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="5">
        <mat-chip-list>
            <mat-chip
                    *ngFor="let category of guide.category">{{category.description }}</mat-chip>
        </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <p><strong>Instragram: </strong>{{guide.instagram}}</p><br>
        <p><strong>Facebook: </strong>{{guide.facebook}}</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <button mat-button>Ver tours</button>
        <button mat-button>Volver</button>
    </mat-grid-tile>
</mat-grid-list>