<h2>Login</h2>
<form [formGroup]="passwordForm">
    <div class="form-container">
        <mat-form-field>
            <input matInput type="password" placeholder="Contraseña actual" formControlName="currentPassword" required>
            <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Contraseña nueva" formControlName="password" required>
            <mat-error *ngIf="passwordForm.controls.password.hasError('required')">
                Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword"
                   required pattern="{{ passwordForm.controls.password.value }}">
            <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('required')">
                Este campo es requerido</mat-error>
            <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('pattern')">
                Las contraseñas no coinciden</mat-error>
        </mat-form-field>

    </div>
    <div style="float: right;">
        <button type="submit" (click)="onSubmit()" (keyup.enter)="onSubmit()" mat-flat-button color="primary" [disabled]="!passwordForm.valid">
            Ingresar
        </button>
        <button mat-flat-button (click)="onCancel()">Cancelar</button>
    </div>
</form>
