<div class="row">
    <div class="column">
        <div>
            <h3>CIUDAD</h3>
            <select name="cities">
                <option *ngFor="let city of cityList" value={{city.id}}>
                    {{city.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="column">
        <div>
            <h3>CATEGORIA</h3>
            <select name="category">
                <option *ngFor="let category of categoryList" value={{category.id}}>
                    {{category.description}}
                </option>
            </select>
        </div>
    </div>
</div>




