.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
mat-grid-list {
   padding-left: 3rem;
   margin-left: 2rem;

}